.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #3a435e;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.videos {
  display: inline-flex;
  /* border: red 1px solid; */
  position: relative;
 
}

.v1 {
  /* border: red 1px solid; */
  padding: 0 1rem;
}